<div id="menu" data-target="menu">
	<div class="menu-header">
		<span class="menu-label">{{t "Menu"}}</span>
		<a class="menu-close" data-action="menu" data-target="menu"></a>
	</div>
	{{navigation}}
	{{#if @labs.members}}
		<div class="menu-members">
			{{#if @member}}
					<button class="members-account" data-portal="account">{{t "Account"}}</button>
				{{#unless @member.paid}}
						<button class="members-upgrade cta" data-portal="account/plans">{{t "Upgrade"}}</button>
				{{/unless}}
			{{else}}
					<button class="members-login" data-portal="signin">{{t "Sign in"}}</button>
					<button class="members-subscribe cta" data-portal="signup">{{t "Sign up"}}</button>
			{{/if}}
		</div>
	{{/if}}
</div>
<div class="overlay"></div>
