{{!< default}}

{{#author}}

<header id="header" class="header{{#if cover_image}} has-cover{{else}}{{#if @blog.cover_image}} has-cover{{/if}}{{/if}}">
	<div class="inner">
		<span class="header-title">
			<figure class="header-image avatar">
				{{#if profile_image}}
					<img src="{{profile_image}}" alt="{{name}}" />
				{{/if}}
			</figure>
			<h1 class="header-name">{{name}} <em>{{ ../pagination.total}}</em></h1>
			{{#if bio}}
				<span class="header-description">{{bio}}</span>
			{{/if}}
			<span class="header-meta">
				{{#if location}}
				<span><i class="icon-location"></i> {{location}}</span>
				{{/if}}
				{{#if website}}
				<span><i class="icon-link"></i> <a href="{{website}}">Website</a></span>
				{{/if}}
				{{#if twitter}}
				<span><i class="icon-twitter"></i> <a target="_blank" href="https://twitter.com/{{twitter}}">Twitter</a></span>
				{{/if}}
				{{#if facebook}}
				<span><i class="icon-facebook"></i> <a target="_blank" href="https://facebook.com/{{facebook}}">Facebook</a></span>
				{{/if}}
			</span>
		</span>
	</div>
	{{#if cover_image}}
	<div class="header-cover" style="background-image: url('{{img_url cover_image}}');"></div>
	{{else}}
	{{#if @blog.cover_image}}
	<div class="header-cover" style="background-image: url('{{img_url @blog.cover_image}}');"></div>
	{{/if}}
	{{/if}}
</header>

{{/author}}

<div id="post-index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
