Last login: Thu Jan  7 23:31:21 on ttys000
Sumits-MacBook-Pro:~ SumitG$ ssh root@178.62.238.87
root@178.62.238.87's password: 
Welcome to Ubuntu 14.04.3 LTS (GNU/Linux 3.13.0-71-generic x86_64)

 * Documentation:  https://help.ubuntu.com/

  System information as of Fri Jan  8 00:27:08 EST 2016

  System load:  0.0                Processes:           78
  Usage of /:   10.9% of 19.56GB   Users logged in:     0
  Memory usage: 47%                IP address for eth0: 178.62.238.87
  Swap usage:   0%

  Graph this data and manage this system at:
    https://landscape.canonical.com/

9 packages can be updated.
9 updates are security updates.

Last login: Fri Jan  8 00:27:08 2016 from 58.68.11.195
root@cybergeeks:~# cd /var/www/ghost/content/themes/bleak-master
root@cybergeeks:/var/www/ghost/content/themes/bleak-master# vim default.hbs



















                                <div class="nav-logo">
                                        <a href="{{@blog.url}}">
                                                {{#if @blog.logo}}
                                                <img src="{{@blog.logo}}" alt="Logo" />
                                                {{else}}
                                                <span class="name">{{@blog.title}}</span>
                                                {{/if}}

                                        </a>
                                </div>
                                <div class="nav-menu">
                                        <a class="rss" href="http://feeds.feedburner.com/cybergeeks/lUpu" target="_blank"><i class="icon-rss"></i></a>
                                        <a class="mail" href="https://goo.gl/ydfbjl" target="_blank"><i class="icon-envelope"></i></a>
                                        {{#if @blog.navigation}}
                                        <a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
                                        {{/if}}
                                </div>
                        </nav>
                        {{{body}}}
                        <div id="body-class" style="display: none;" class="{{body_class}}"></div>
                        <footer id="footer">
                                <section class="credits">
                                        <span class="credits-theme">Theme <a href="https://github.com/zutrinken/bleak">Bleak</a> by <a href="http://zutrinken.com" rel="nofollow">zutrinken</a></span>
                                        <span class="copyright">All content copyright <a href="http://www.cybergeeks.in/">CyberGeeks</a> 2016</a></span>
                                        <span class="credits-software">Published with <a href="http://ghost.org">Ghost</a></span>
                                </section>
                        </footer>
                        {{#if @blog.navigation}}
                        {{navigation}}
                        {{/if}}
                </div>
        </section>
        {{ghost_foot}}

        <script type="text/javascript" src="{{asset "js/dependencies.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/script.js"}}"></script>
</body>
</html>
