{{!< default}}

{{#post}}

<main class="content" role="main">
	<article class="{{post_class}}">


			<div id="push">

				<div class="wrapper-o">
					<div class="wrapper">

						<header class="post-header{{#if feature_image}} has-cover{{/if}}" {{#if feature_image}}style="background-image: url({{img_url feature_image}});"{{/if}}>
							<div class="inner">
								<span class="post-meta">
									<span class="post-meta-author">{{authors}}</span> | <span class="post-meta-date">{{date format="DD MMM YYYY"}}</span> | <span class="post-meta-reading-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
								</span>
								<div class="clear"></div>
								<h1 class="post-title">{{{title}}}</h1>
							</div>
						</header>

						<div class="inner">
							<section class="post-content">
								{{content}}
							</section>


							<footer class="post-footer">

								<div class="post-tags">
									{{tags separator=" "}}
								</div>

								<div class="post-share">
									<a class="icon-twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
										<span>Twitter</span>
									</a>
									<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
										<span>Facebook</span>
									</a>
								</div>

							</footer>

							{{#has author="count:>1"}}
								<aside class="post-authors">
									<p class="post-authors-info">{{t "This post was a collaboration between:"}}</p>
									<p class="post-authors-authors">{{authors separator=", "}}</p>
								</aside>
							{{else}}
								{{#primary_author}}
									<aside class="post-author">
										<figure class="post-author-avatar avatar">
											{{#if profile_image}}
												<img src="{{profile_image}}" alt="{{name}}" />
											{{/if}}
										</figure>
										<div class="post-author-bio">
											<h4 class="post-author-name"><a href="{{url}}">{{name}}</a></h4>
											<p class="post-author-meta">
												{{#if location}}
												<span class="post-author-meta-location"><i class="icon-location"></i> {{location}}</span>
												{{/if}}
												{{#if website}}
												<span class="post-author-meta-website"><i class="icon-link"></i> <a href="{{website}}">{{t "Website"}}</a></span>
												{{/if}}
												{{#if twitter}}
												<span class="post-author-meta-twitter"><i class="icon-twitter"></i> <a target="_blank" href="https://twitter.com/{{twitter}}">Twitter</a></span>
												{{/if}}
												{{#if facebook}}
												<span class="post-author-meta-facebook"><i class="icon-facebook"></i> <a target="_blank" href="https://facebook.com/{{facebook}}">Facebook</a></span>
												{{/if}}
											</p>
											{{#if bio}}
												<p class="post-author-about">{{{bio}}}</p>
											{{/if}}
										</div>
										<div class="clear"></div>
									</aside>
								{{/primary_author}}
							{{/has}}

							<aside class="post-comments">
								<div id="disqus_thread"></div>
							</aside>

						</div>

						{{#if @labs.subscribers}}
						<aside class="post-subscribe">
							<p>{{t "Get the latest posts delivered right to your inbox."}}</p>
								{{subscribe_form placeholder=(t "Your email address") form_class="post-subscribe-form" input_class="post-subscribe-input" button_class="post-subscribe-button"}}
						</aside>
						{{/if}}

					</div>
				</div>
			</div>

			<nav class="post-nav">
				{{#next_post}}
					<a class="post-nav-item post-nav-next" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/next_post}}
				{{#prev_post}}
					<a class="post-nav-item post-nav-prev" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/prev_post}}
				<div class="clear"></div>
			</nav>

			{{/post}}

	</article>
</main>
